{% extends 'blog/base.html' %}

{% block title %}Login - Django Blog{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="form-footer">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
{% endblock %}